@charset "utf-8";

h1{
    color: aqua;
}

body{
    text-align: center;
    background: #000022;
}

.appflame{
    background: #ffffff;
    width: 420px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

ul{
    list-style: none;
    padding: 0;
}
li{
    border-top: solid 1px #b1daff;
    padding: 2px;
    cursor: pointer;
}
.active{
    background: #efefff;
    color: #ff6800;
}
li:hover{
    background: #efefff;
}